.timeline {
  flex: 0.45;
  border-right: 1px solid var(--twitter-background-color);
  overflow-y: scroll;
}
.timeline::-webkit-scrollbar{
  display: none;
}

.timelineHeader {
  position: sticky;
  top: 0;
  background-color: white !important;
  z-index: 100;
  border: 1px solid var(--twitter-background-color);
  padding: 15px 20px;
}

.timelineHeader > h2 {
    font-size:20px;
    font-weight:800;
}