.tweetBox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background-color);
  padding-right: 10px;
}

.tweetBox > form {
  display: flex;
  flex-direction: column;
}

.tweetBoxInput {
  padding: 20px;
  display: flex;
}

.tweetBoxInput > input {
  flex: 1;
  font-size: 20px;
  margin-left: 20px;
  border: none;
}

.tweetBoxImageInput {
  border: none;
  padding: 20px;
}

.tweetBoxTweetButton {
  background-color: rgb(146, 146, 244) !important;
  color:white !important;
  font-weight: 900 !important;
  width: 130px !important;
  height: 40px !important;
  border-radius: 30px !important;
  margin-top: 20px !important;
  margin-left: auto !important;
}
