.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
 
  &:hover {
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--twitter-color);
  }
  .MuiSvgIcon-root {
    padding-right: 20px;
  }
  h2{
    font-size: 15px;
    margin-right:20px;
    font-weight: 800px;

  }
}
